<p>
お問い合わせいただきありがとうございます。<br />
2営業日以内に担当者からご連絡いたします。
</p>

<p>
お問い合わせ内容<br />
　件名： <%= @contact.title_i18n %><br />
　氏名： <%= @contact.name %><br />
　内容：<br />
<%= sanitize(simple_format(@contact.content.gsub(/\r\n|\r|\n/, "<br>")), tags: %w(br)) %>
</p>

<p>
※ このメールは、送信専用メールアドレスから配信されています。<br />
</p>

